* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	background-color: #f0f8ff;
	color: #000;
}

/* Grid Styles */

.grid-container {
	display: grid;
	width: 500px;
	height: 500px;
	margin: 50px auto;

	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 1fr 1fr;
	border-radius: 15px;
	gap: 10px 5px;
}
.grid-user-container {
	background-color: #add8e6;
	border: 3px solid #d63384;
	border-radius: 15px;
	grid-area: 1 / 1 / 3 / 3;
	display: flex;
	justify-content: space-around;
	/* display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 2fr; */
	align-items: center;
	gap: 10px;
	padding: 15px;
}
.grid-about {
	text-align: center;
}
.grid-circle {
	width: 150px;
	height: 150px;
	border: 2px solid #d63384;
	border-radius: 50%;
	justify-self: end;
}
.grid-hobbies {
	text-align: center;
	align-content: center;
}

.grid-hobbies,
.grid-aspirations {
	text-align: center;
	align-content: center;
	border: 3px solid #d63384;
	border-radius: 15px;
	background-color: #add8e6;
	padding: 10px;
}

@media screen and (max-width: 600px) {
	.grid-container {
		width: 90%;
		height: auto;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto 1fr 1fr;
	}
	.grid-user-container {
		grid-area: 1 / 1 / 2 / 2;
		text-align: center;
		flex-direction: column;
	}
	.grid-circle {
		justify-self: center;
	}
	.grid-hobbies,
	.grid-aspirations {
		min-height: 150px;
	}
}
